{% extends 'base.twig' %}

{% set pagina = {
	titulo: 'Login',
	css_route: 'page'
} %}

{% block conteudo %}
<div class="page-header">
	<h2>Login</h2>
</div>

<div class="row">
	<div class="span4">
		
	</div>
	<div class="span4">
		{% if mensagens is not empty %}
		{% if mensagens.errors is not empty %}
		<div class="alert alert-error">
			<ul class="unstyled">
			{% for error in mensagens.errors %}
				<li>{{ error | capitalize }}</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
			
		{% if mensagens.warnings is not empty %}
		<div class="alert alert-warning">
			<ul class="unstyled">
				{% for warning in mensagens.warnings %}
				<li>{{ warning | capitalize }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		{% endif %}
		
		<form action="{{ url('/login') }}" method="post" name="login" class="form-vertical well">
			<div class="control-group">
				<label class="control-label" for="login-login">Login</label>
				<div class="controls">
					<div class="row-fluid">
						<input type="text" id="login-login" name="login"{% if form %} value="{{ form.login }}"{% endif %} class="span12">
					</div>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="login-senha">Senha</label>
				<div class="controls">
					<div class="row-fluid">
						<input type="password" id="login-senha" name="senha" class="span12">
					</div>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<div class="row-fluid">
						<button type="submit" class="btn btn-primary offset4 span4">Entrar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<div class="span4">
		<p>Entre com seus dados de usuário para acessar seu painel e cadastrar seus veículos.</p>
		<ul class="unstyled">
			<li><a href="{{ url('/esqueci-minha-senha') }}" data-scrollto="true">Esqueceu sua senha?</a></li>
			<li><a href="{{ url('/cadastro') }}" data-scrollto="true">Não é cadastrado?</a></li>
		</ul>
	</div>
</div>
{#}
<div class="row">
	<div class="span6">
		<div class="content-block">
			<div class="cadastro">
				<h1>Cadastre-se</h1>
				<p>Se você ainda não é nosso cliente, não perca tempo, cadastre-se é GRATUITO e comece a utilizar nossos serviços.</p>
				
				<form action="{{ url('/cadastro') }}" method="post" name="cadastro" class="form-horizontal">
					{% if flash.erros_cadastro %}
					<div class="alert alert-warning">
						<p><strong>Erro ao cadastrar-se!</strong></p>
						<ul>
						{% for erro in flash.erros_cadastro %}
							<li>{{ erro }}</li>
						{% endfor %}
						</ul>
					</div>
					{% endif %}
				
					<div class="control-group">
						<label class="control-label" for="cadastro-nome">Nome completo</label>
						<div class="controls">
							<input type="text" id="cadastro-nome" name="nome"{% if cadastro %} value="{{ cadastro.nome }}"{% endif %} />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="cadastro-email">E-mail</label>
						<div class="controls">
							<input type="text" id="cadastro-email" name="email"{% if cadastro %} value="{{ cadastro.email }}"{% endif %} />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="cadastro-senha">Senha</label>
						<div class="controls">
							<input type="password" id="cadastro-senha" name="senha" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="cadastro-confirmar-senha">Confirmar senha</label>
						<div class="controls">
							<input type="password" id="cadastro-confirmar-senha" name="confirmar-senha" />
						</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Cadastrar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="span6">
		<div class="content-block">
			<div class="login">
				<h1>Login</h1>
				<p>Entre com seus dados de usuário para acessar seu painel e cadastrar seus veículos.</p>
				
				<form action="{{ url('/login') }}" method="post" name="login" class="form-horizontal">
					{% if flash.erros_login %}
					<div class="alert alert-warning">
						<p><strong>Erro ao fazer login!</strong></p>
						<ul>
						{% for erro in flash.erros_login %}
							<li>{{ erro }}</li>
						{% endfor %}
						</ul>
					</div>
					{% endif %}
					
					<div class="control-group">
						<label class="control-label" for="login-login">Login</label>
						<div class="controls">
							<input type="text" id="login-login" name="login"{% if login %} value="{{ login.login }}"{% endif %} />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="login-senha">Senha</label>
						<div class="controls">
							<input type="password" id="login-senha" name="senha" />
						</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Entrar</button>
							<a href="{{ url('/esqueci-minha-senha') }}">Esqueceu sua senha?</a>	
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{#}
{% endblock %}