{% extends 'base.twig' %}

{% block conteudo %}
<div class="row-fluid">
	<div class="span6">
		<div class="well">
			<h1>Cadastre-se</h1>
			<p>Se você ainda não é nosso cliente, não perca tempo, cadastre-se é GRATUITO e comece a utilizar nossos serviços.</p>
			
			<form action="{{ url('/cadastro') }}" method="post" name="cadastro" class="form-horizontal">
				{% if flash.erro_cadastro %}
				<div class="alert alert-warning">
					{{ flash.erro_cadastro }}
				</div>
				{% endif %}
			
				<div class="control-group">
					<label class="control-label" for="cadastro-nome">Nome completo</label>
					<div class="controls">
						<input type="text" id="cadastro-nome" name="nome" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="cadastro-email">E-mail</label>
					<div class="controls">
						<input type="text" id="cadastro-email" name="email" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="cadastro-senha">Senha</label>
					<div class="controls">
						<input type="password" id="cadastro-senha" name="senha" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="cadastro-confirmar-senha">Confirmar senha</label>
					<div class="controls">
						<input type="password" id="cadastro-confirmar-senha" name="confirmar-senha" />
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="span6">
		<div class="well">
			<h1>Login</h1>
			<p>Entre com seus dados de usuário para acessar seu painel e cadastrar seus veículos.</p>
			
			<form action="{{ url('/login') }}" method="post" name="login" class="form-horizontal">
				{% if flash.erro_login %}
				<div class="alert alert-warning">
					{{ flash.erro_login }}
				</div>
				{% endif %}
				
				<div class="control-group">
					<label class="control-label" for="login-login">Login</label>
					<div class="controls">
						<input type="text" id="login-login" name="login"{% if login %} value="{{ login }}"{% endif %} />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="login-senha">Senha</label>
					<div class="controls">
						<input type="password" id="login-senha" name="senha"{% if senha %} value="{{ senha }}"{% endif %} />
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">Entrar</button>
						<a href="{{ url('/esqueci-minha-senha') }}">Esqueceu sua senha?</a>	
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}