{% extends 'base.twig' %}

{% set pagina = {
	css_route: 'home'
} %}

{% block conteudo %}
<div class="row-fluid">
	<div class="span4">
		<div class="lateral">
			{% if usuario_logado %}
			<h4>Olá, <strong>{{ usuario_logado.nome }}</strong></h4>
			
			<div class="row-fluid">
				<div class="span12">
					Área de mensagens
				</div>
			</div>
			
			<ul class="nav nav-list">
				<li><a href="{{ url('/meus-dados') }}">Meus dados</a></li>
				<li><a href="{{ url('/meus-anuncios') }}">Meus anúncios</a></li>
				<li><a href="{{ url('/logout') }}">Sair</a></li>
			</ul>
			
			{% else %}
			<h4>Cadastre-se, é <strong>gratuito</strong></h4>
			<form action="{{ url('/cadastro') }}" method="post" class="form-vertical">
				<div class="row-fluid">
					<div class="control-group">
						<label class="control-label" for="box-cadastro-nome">Nome</label>
						<div class="controls controls-row">
							<input type="text" id="box-cadastro-nome" name="nome" class="span12">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="box-cadastro-email">E-mail</label>
						<div class="controls controls-row">
							<input type="email" id="box-cadastro-email" name="email" class="span12">
						</div>
					</div>
	
					<div class="control-group">
						<label class="control-label" for="box-cadastro-senha">Senha</label>
						<div class="controls">
							<input type="password" id="box-cadastro-senha" name="senha" class="span12">
						</div>
					</div>
	
					<div class="control-group">
						<label class="control-label" for="box-cadastro-confirmar-senha">Confirmar senha</label>
						<div class="controls">
							<input type="password" id="box-cadastro-confirmar-senha" name="confirmar-senha" class="span12">
						</div>
					</div>
	
					<div class="control-group">
						<div class="controls clearfix">
							<button type="submit" class="btn pull-right">Cadastrar</button>
						</div>
					</div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
	<div class="span8">
		<div class="central">
			<ul class="nav nav-tabs">
				{% for tipo_de_veiculo in tipos_de_veiculo %}
				<li{% if loop.first %} class="active"{% endif %}>
					<a href="#busca-{{ tipo_de_veiculo.id }}" data-toggle="tab">{{ tipo_de_veiculo.descricao }}</a>
				</li>
				{% endfor %}
			</ul>
				
			<div class="tab-content">
				{% for tipo_de_veiculo in tipos_de_veiculo %}
				<div class="tab-pane{% if loop.first %} active{% endif %}" id="busca-{{ tipo_de_veiculo.id }}">
					{% include 'busca/' ~ tipo_de_veiculo.id ~'.twig' %}
				</div>
				{% endfor %}
			</div>
			
			<div class="row-fluid">
				<div class="span12">
					<a href="anuncie" title="Anuncie">
						<img src="{{ url('/img/banner.jpg') }}" alt="banner" style="width: 100%" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="downside">
	<div class="row">
		<div class="span12">
			<div id="myCarousel" class="carousel slide">
			    <ol class="carousel-indicators">
			    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    	<li data-target="#myCarousel" data-slide-to="1"></li>
			    	<li data-target="#myCarousel" data-slide-to="2"></li>
			    </ol>
			    
			    <!-- Carousel items -->
			    <div class="carousel-inner">
				    <div class="active item">
				    	<div>
				    		<div class="DestaqueHomeItem">
			                	<div class="imagem"><a href="index.php" class="LinkFotoDestaque"></a></div>
			                    <div class="DadosDestaque">
			                    	<strong>Chevrolet - Vectra</strong><br>
			                        Ano 2011/2012<br>
			                        Gaudério Veículos<br>
			                        <span class="ValorDestaque">R$ 22.000,00</span>
								</div>
							</div>
						</div>
				    </div>
				    <div class="item">
				    </div>
				    <div class="item">
				    </div>
			    </div>
			    
			    <!-- Carousel nav
			    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
			</div>
		</div>
	</div>
</div>
{% endblock %}