{% extends 'base.twig' %}

{% block conteudo %}
<h1>Complete seu cadastro</h1>
<p>Complete seu cadastro abaixo. Após completo, você já poderá cadastrar seu veículo e assim o quanto antes ter seu anúncio publicado no portal Central do Veículo.</p>

{% if erros %}
<div class="alert alert-warning">
<p><strong>Não foi possível completar o seu cadastro!</strong></p>
<ul>
{% for erro in erros %}
	<li>{{ erro }}</li>
{% endfor %}
</ul>
</div>
{% endif %}

<form action="{{ urlFor('/cadastro/completar') }}" method="post" class="form-horizontal">
	<h2>Seus dados</h2>
	
	<div class="control-group">
		<label class="control-label">Nome</label>
		<div class="controls">
			<div class="uneditable-input">{{ usuario.nome }}</div>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">E-mail</label>
		<div class="controls">
			<div class="uneditable-input">{{ usuario.usuario }}</div>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<label class="radio inline"><input type="radio" id="id_tipo_vendedor_fisico" name="id_tipo" checked="checked" value="{{ id_tipo_vendedor_fisico }}" /> Pessoa fisíca</label> 
			<label class="radio inline"><input type="radio" id="id_tipo_vendedor_juridico" name="id_tipo" value="{{ id_tipo_vendedor_juridico }}" /> Pessoa jurídica</label>
		</div>
	</div>
	
	<div id="tipo_vendedor_fisico">
		<div class="control-group">
			<label class="control-label">CPF</label>
			<div class="controls">
				<input type="text" id="cpf" name="cpf">
				<a href="#" data-content="Ao solicitar o seu CPF, garantimos segurança a todos os usuários do portal Central do Veículo, pois assim o usuário poderá ter somente um cadastro ativo.<br>Seu CPF será mantido em sigilo, não sendo publicado." data-original-title="Porque..." data-toggle="popover" title="Porque...">Por que pedimos o seu CPF?</a>
			</div>
		</div>
	</div>
	
	<div id="tipo_vendedor_juridico">
		<div class="control-group">
			<label class="control-label">CNPJ</label>
			<div class="controls">
				<input type="text" id="cnpj" name="cnpj">
				<a href="#" data-content=" Ao solicitar o seu CNPJ, garantimos segurança a todos os usuários do portal Central do Veículo, pois assim o usuário poderá ter somente um cadastro ativo.<br>Seu CNPJ será mantido em sigilo, não sendo publicado." data-original-title="Porque..." data-toggle="popover" title="Porque...">Por que pedimos o seu CNPJ?</a>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Razão social</label>
			<div class="controls">
				<input type="text" id="razao_social" name="razao_social" class="span4">
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Nome fantasia</label>
			<div class="controls">
				<input type="text" id="nome_fantasia" name="nome_fantasia" class="span4">
			</div>
		</div>
	</div>
	
	<h2>Seu endereço</h2>
	
	<div class="control-group">
		<label class="control-label">Logradouro</label>
		<div class="controls">
			<input type="text" name="endereco" class="span5">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Número</label>
		<div class="controls">
			<input type="text" name="numero" class="span1">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Complemento</label>
		<div class="controls">
			<input type="text" name="complemento" class="span2">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Bairro</label>
		<div class="controls">
			<input type="text" name="bairro">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">UF</label>
		<div class="controls">
			<select name="uf" id="uf">
				<option value=""></option>
				{% for uf in ufs %}
				<option value="{{ uf.sigla }}">{{ uf.nome }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="control-group">
 		<label class="control-label">Cidade</label>
		<div class="controls">
			<select name="cidade" id="cidade">
				<option value=""></option>
			</select>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">CEP</label>
		<div class="controls">
			<input type="text" name="cep" id="cep">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Telefone</label>
		<div class="controls">
			<input type="text" name="telefone" id="telefone" class="span2">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Celular</label>
		<div class="controls">
			<input type="text" name="celular" id="celular" class="span2">
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-cv">Cadastrar</button>
		</div>
	</div>
	
</form>
{#}
<?php
	switch (Model2_Usuarios::etapaDeCadastro()) {
		case 0:
			location('index.php?p=cadastro-prim-etapa');
			break;
		
		case 1:
			location('index.php?p=cadastro-sucesso-prim-etapa');
			break;
	}
	
	$usuario = Model2_Usuarios::ativo();
	$vendedor = Model2_Vendedores::vendedor($usuario->chave_vendedor);
	
	if (is_post()) {
		try {
			if (in_array(post('tipo_vendedor'), array('fisica', 'fisico'))) {
				$tipo_vendedor = 'fisico';
				$cpf = Text_Format::filtrarCPF(post('cpfCadastro'));
				$cnpj = null;
				$razao_social = null;
				$nome_fantasia = null;
			}
			else {
				$tipo_vendedor = 'juridico';
				$cpf = null;
				$cnpj = Text_Format::filtrarCNPJ(post('cnpjCadastro'));
				$razao_social = post('razaoSocial');
				$nome_fantasia = post('nomeFantasia');
			}
			
			$endereco = post('endereco');
			$numero = post('numero');
			$complemento = post('complemento');
			$bairro = post('bairro');
			$cod_cidade = post('cidade');
			$cod_uf = post('uf');
			$cep = post('cepCadastro');
			$telefone_fixo = post('telefoneCadastro');
			$telefone_celular = post('celularCadastro');
			
			$telefone_fixo = Text_Format::filtrarFone($telefone_fixo);
			$telefone_celular = Text_Format::filtrarFone($telefone_celular);
			
			if (post('cpfCadastro') && !$cpf)
				throw new Exception('CPF inválido');
			
			if (post('cnpjCadastro') && !$cnpj)
				throw new Exception('CNPJ inválido');
			
			if (post('telefoneCadastro') && !$telefone_fixo)
				throw new Exception('Telefone fixo inválido');
				
			if (post('celularCadastro') && !$telefone_celular)
				throw new Exception('Telefone celular inválido');
			
			Core_Model::database()->beginTransaction();
						
			$vendedor->tipo_vendedor = $tipo_vendedor;
			$vendedor->cpf = $cpf;
			$vendedor->cnpj = $cnpj;
			$vendedor->razao_social = $razao_social;
			$vendedor->nome_fantasia = $nome_fantasia;
			
			$localizacoes = Model2_Localizacoes::localizacoesDoVendedor($vendedor->cod_vendedor);
			
			if (count($localizacoes) == 0) {
				$cod_endereco = Model2_Localizacoes::adicionar(array(
					'descricao' => 'Localização do meu cadastro',
					'endereco' => $endereco,
					'numero' => $numero,
					'complemento' => $complemento,
					'bairro' => $bairro,
					'cep' => $cep,
					'chave_uf' => $cod_uf,
					'chave_cidade' => $cod_cidade,
					'chave_vendedor' => $vendedor->cod_vendedor
				));
				
				$localizacoes = array(Model2_Localizacoes::localizacao($cod_endereco));
			}
			else {
				Model2_Localizacoes::atualizar(array(
					'cod_endereco' => $localizacoes[0]->cod_endereco,
					'descricao' => $localizacoes[0]->descricao,
					'endereco' => $endereco,
					'numero' => $numero,
					'complemento' => $complemento,
					'bairro' => $bairro,
					'cep' => $cep,
					'chave_uf' => $cod_uf,
					'chave_cidade' => $cod_cidade,
					'chave_vendedor' => $vendedor->cod_vendedor
				));
			}
			
			if ($telefone_fixo) {
				$telefones_fixos = Model2_Contatos::contatosDoVendedorDoTipo($vendedor->cod_vendedor, Model2_Contatos::TELEFONE_FIXO);
				if (count($telefones_fixos) == 0)
					Model2_Contatos::adicionar(Model2_Contatos::construir($telefone_fixo, Model2_Contatos::TELEFONE_FIXO, $vendedor));
				else {
					$telefones_fixos[0]->contato = $telefone_fixo;
					Model2_Contatos::atualizar($telefones_fixos[0]);
				}
			}
			
			if ($telefone_celular) {
				$telefones_celulares = Model2_Contatos::contatosDoVendedorDoTipo($vendedor->cod_vendedor, Model2_Contatos::TELEFONE_CELULAR);
				if (count($telefones_celulares) == 0)
					Model2_Contatos::adicionar(Model2_Contatos::construir($telefone_celular, Model2_Contatos::TELEFONE_CELULAR, $vendedor));
				else {
					$telefones_celulares[0]->contato = $telefone_celular;
					Model2_Contatos::atualizar($telefones_celulares[0]);
				}
			}
			
			Model2_Vendedores::atualizar($vendedor);
			
			$usuario->status = 'cadastrado';
			Model2_Usuarios::atualizar($usuario);
			
			Core_Model::database()->commit();
			
			Model2_Usuarios::ativar($usuario->cod_usuario);

			location('index.php?p=cadastro-sucesso');		
		}
		catch (Exception $e) {
			$erro = $e->getMessage();
		}
	}
	
	$ufs = new Model_UFs;
	
	$header = new View_Template('templates/header.php');
	$busca = new View_Template('templates/busca.php');
	$footer = new View_Template('templates/footer.php');
	
	$header->render();
	$busca->render();
?>

<script type="text/javascript">
	$(document).ready(function() {
		/*$('#uf').change(function() {
			if($(this).val())
				$('#cidade').load('index.php?p=cidades&uf=' + $(this).val());
		});
		
		$('#cidade').load('index.php?p=cidades&uf=' + $('#uf').val());*/
	});
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:1003px;margin:auto">
	<tr>
    	<td valign="top" class="Paginas">
			<form action="index.php?p=cadastro-terc-etapa" method="post" class="validavel">
				
				<div style="width:400px;margin:auto;text-align:center;padding:15px 0"><input type="submit" value="Cadastrar" class="BtPadrao"></div>
			</form>

		</td>
	</tr>
</table>
{#}
{% endblock %}